body {
    background-image: url("https://i.pinimg.com/originals/87/a6/a0/87a6a0be14951f25079e7f41ab3491fb.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins';font-size: 22px;
}
