<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_resultado.css') }}">

    <title>Document</title>
</head>
<body>
    <div>
        <h1>{{nome}} É: {{resultado}}!!!</h1>
    </div>

    <footer>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <script>
            var messages = {{ messages | safe }};
            for (var i=0; i<messages.length; i++) {
                alert(messages[i]);
            }
            </script>
    {% endif %}
    {% endwith %}
</footer>
</body>
</html>